@{
    Layout = "_Layout";
}

<el-button>按钮</el-button>
@for (int i = 0; i < 50; i++)
{
    <p>@i</p>
}

@section Scripts{ 
    <script>
        const app = new MainVue({
            mounted: function () {
                let self = this;
                self.test();
            }
        });

        app.$mount('#app');
    </script>
}
