
/** start scrollbar **/
::-webkit-scrollbar {
    background: transparent;
    border: rgba(0, 0, 0, 0.2) solid;
}

    ::-webkit-scrollbar:vertical {
        border-width: 0 0 0 1px;
        width: 6px; /*滚动条宽度*/
        background: #fff; /*背景色*/
    }

    ::-webkit-scrollbar:horizontal {
        border-width: 0 0 0 1px;
        height: 6px; /*滚动条高度*/
        background: #fff; /*背景色*/
    }
/* 可滚动 */
::-webkit-scrollbar-thumb {
    background-color: rgb(0, 204, 255); /*滚动条颜色*/
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

    ::-webkit-scrollbar-thumb:active {
        background-color: rgba(0, 0, 0, 0.5);
    }
/** end scrollbar **/
