<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ElementDemos</title>
    <environment include="Development">
        <link href="~/lib/element-ui/css/index.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link href="~/lib/element-ui/css/index.min.css" rel="stylesheet" />
    </environment>
    <link href="~/css/site.css" rel="stylesheet" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div id="app">
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/vue/dist/vue.js"></script>
        <script src="~/lib/element-ui/js/index.js"></script>
        <script src="~/lib/axios/axios.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/lib/vue/dist/vue.min.js"></script>
        <script src="~/lib/element-ui/js/index.min.js"></script>
        <script src="~/lib/axios/axios.min.js"></script>
    </environment>

    <script>
        const MainVue = Vue.extend({
            data: function () {
                return {

                }
            },
            methods: {
                test() {
                    alert(1);
                }
            }
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
